:root {
    --gray-200: #E5E2E9;
    --purple-base: #9359F3;
    --font-family: 'Inter', sans-serif;
    --button-font: bold 14px/160% var(--font-family);
    --gray-400: #D1CBD7;
    --gray-500: #6b6572;
    --purple-light: #DDD2EF;
    --purple-dark: #6f3cc3;
    --gray-100: #F0EDF2;
    ---green-base: #479C6E;
    --green-dark: #2D6C4A;
    --gray-330: #e0dce4;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

/*CSS header*/

header {
    display: flex;
    height: 200px;
    width: 100%;
    background-color:var(--gray-200);
    align-items: center;
    justify-content: center;
}

/*ADICIONE UMA NOVA TAREFA CSS*/

/* CSS BUTTON*/
.btn-add {
    width: 110px;
    height: 52px;
    border-radius: 8px;
    background-color: blueviolet;
    border: 0px;
    font: var(--button-font);
    color: white;
}

.btn-add:hover {
    background-color: var(--purple-base);
}

.add-icon {
    display: inline-block;
    width: 16.25px;
    height: 16.25px;
}




/*MOBILE BUTTON*/


.btn-add-mobile {
    width: 52px;
    height: 52px;
    background-color: var(--purple-dark);
    border: none;
    border-radius: 8px;
}

.btn-add-mobile:hover {
    background-color: var(--purple-base);
}

.btn-add-mobile {
    display: none;
} /*ativa no media query*/




.margin10 {
    margin-left: 10px;
}

/* fim CSS BUTTON*/



/* CSS GERAL DE ALINHAMENTO*/
.flex-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.forms-flex {
    display: flex;
    gap: 8px;
    margin-top: -20px;
}

.forms-div {

    display: flex;
    width: 100%;
    justify-content: center;
}
/*FIM CSS GERAL DE ALINHAMENTO*/



/* CSS TEXT INPUT*/

.add-taskinput {
    width: 736px;
    height: 52px;
    border-radius: 8px;
    border: 2px solid #E0DCE4;
    padding-left: 20px;
}



input[type="text"]:focus {
    outline: none;
    border: 2px solid #9359F3;
}




/* FIM CSS TEXT INPUT*/


/* FIM CSS ADICIONAR UMA NOVA TAREFA*/







/* CSS DASHBOARD TAREFAS*/

.div-tarefas {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tarefas-display {
    width: 835px; /*ta menor porque falta os números*/
    margin-top: 40px; /*teste de viulização*/

}

.status-tarefas {
    display: flex;
    justify-content: space-between;
    width: 100%;
   
    height: 22px;
}

br {
    color: var(--gray-500);
}



/* STATUS CONCLUIDADAS CSS*/

.concluidas {
    display: flex;
    gap: 8px;
    align-items: center;
}

.concluidas p {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: var(--gray-500);
}

.concluídas-tarefas {
    width: 30px;
    height: 22px;
    border-radius: 999px;
    background-color: #479C6E;
    color: #2D6C4A;
    font: 'Inter', sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

/*FIM CONCLUIDAS CSS*/

/*CRIADAS CSS*/

.criadas {
    display: flex;
    gap: 8px;
    align-items: center;
}

.criadas p {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: var(--gray-500);
}


.criadas-tarefas {
    width: 30px;
    height: 22px;
    border-radius: 999px;
    background-color: var(--purple-light);
    color: var(--purple-dark);
    font: 'Inter', sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

/*FIM CRIADAS*/


  
/*SEPARADOR BR*/
.br-color {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 1px;
    background-color: var(--purple-light);
} 

/* FIM SEPARADOR*/


/*CSS TAREFA NÃO CRIADA*/
.nenhuma-tarefa {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 12;
    padding-right: 12px;
}

.p1 {
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--gray-500);
    margin-top: 16px;
}
.p2 {
    font-family: var(--font-family);
    color: var(--gray-500);
}


/*CSS TAREFAS & CARDS*/


.tarefas {
    height: 100%;
    
}

.tarefas li {
    margin-left: -40px;
    padding: 10px;
    list-style-type: none;
    border-radius: 8px;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    
}

.card-concluir {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    height: 72px;
    background-color: var(--gray-330);
    border-radius: 8px;
    margin-bottom: 6px;
    font-family: 'Inter', sans-serif;
    border: solid 2px;
    border-color: var(--gray-400);
    cursor: pointer;
    position: relative;
  

}

/* Adicionando checkregular - sem concluir  - na li*/
.card-concluir::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 20px;
    height: 20px;
    background-image: url(assets/position-assets/CircleRegular.png);
    background-size: cover;
    background-position: center;
    top: 25px;
    left: 8px;
}



 /*css remove button*/

    .card-concluido {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    height: 72px;
    text-decoration-line: line-through;
    background-color: var(--gray-100);
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    border: solid 1px;
    border-color: var(--gray-400);
    cursor: pointer;
    position: relative;
    

}

/* checked icone - css*/
.card-concluido::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 20px;
    height: 20px;
    background-image: url(assets/position-assets/checked.png);
    background-size: cover;
    background-position: center;
    top: 25px;
    left: 8px;
}



.card-concluir p {
    width: 100%;
    font-family: var(--font-family);
    font-size: 14px;
    margin-left: 25px;

}

.card-concluido p {
    width: 100%;
    font-family: var(--font-family);
    font-size: 14px;
    margin-left: 25px;

}

.card-concluir button {
    border: 0;
    background-color: rgba(255, 0, 0, 0);
}

/* Icones unchecked, check, trash hover*/

.icon-checkbox {
    width: 20px;
    height: 20px;

}

.trash {
    width: 20px;
    height: 20px;
}

ul li span {
    position: absolute;
    right: 0;
    top: 15px;
    width: 40px;
    height: 60px;
    border-radius: 20px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li {
    display: flex;
}

ul li .uncheck {
    position: relative;
    right: 98.3%;
}




.display-show {
    display: block;
}

.display-none {
    display: none;
}

.js-teste {
    
}






/*FIM DASHBOARD TAREFAS*/


/* AJUSTES RESPONSIVIDADE*/


/*
320-480 Mobile devices. 481px — 768px: iPads, Tablets. 769px — 1024px: Small screens, laptops. 1025px — 1200px: Desktops, large screens.
*/

@media (min-width: 320px) and (max-width: 768px) {
    .add-taskinput {
        width: 267px;
  }

  .btn-add {
    display: none;
} 

.btn-add-mobile {
    display: inline-block;
}

.tarefas-display {
    width: 327px; 
    font-size: 12px;

}

.card-concluir {
    padding: 10px;
}

.card-concluido {
    padding: 10px;
}





} /*fim media query*/



